<div class="division-bar">
  <div class="binary-description">
    <h2>Run Anywhere</h2>
    <p>Helm runs in GNU/Linux, Mac OSX and Windows.</p>
    <p>Run Helm as a standalone synthesizer or as an LV2, VST, VST3 or AU plugin.</p>
    <p>Comes in both 32-bit and 64-bit versions</p>
  </div>
  <div class="free-software-description">
    <h2>Helm is Free Software</h2>
    <p>This means you are free to run Helm anywhere without the pains of DRM, you can <a href="https://github.com/mtytel/helm">study and change the source code</a> and redistribute exact or modified copies of Helm.</p>
    <p><a href="https://www.gnu.org/philosophy/">Read more about software freedom.</a></p>
  </div>
</div>
