<a href="/static/dist/helm_0.8.0-1017~ubuntu14.04.1_amd64.deb">
  <div name="linux64" class="os-download">GNU/Linux 64 bit</div>
</a>
<a href="/static/dist/helm_0.8.0-1017~ubuntu14.04.1_i386.deb">
  <div name="linux32" class="os-download">GNU/Linux 32 bit</div>
</a>
<a href="/static/dist/Helm_v0_8_0.pkg">
  <div name="osx" class="os-download">Mac OSX</div>
</a>
<a href="/static/dist/Helm_64bit_v0_8_0.msi">
  <div name="win64" class="os-download">Windows 64 bit</div>
</a>
<a href="/static/dist/Helm_32bit_v0_8_0.msi">
  <div name="win32" class="os-download">Windows 32 bit</div>
</a>
