<a href="/helm">
  <img id="helm-logo" src="/static/images/helm_logo.png">
</a>

<div class="big-header">
  <div class="tagline">
    <div id="nothanks" class="catch-phrase">
      Here is Helm for free
    </div>
  </div>
  <div id="downloads">
    <div id="auto-download-info">
      Hope you love it! Also consider
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="matthewtytel@gmail.com">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="Helm Synth Sticker">
        <input type="hidden" name="amount" value="5">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="cn" value="Add special instructions to the seller:">
        <input type="hidden" name="return" value="http://tytel.org/helm/sticker/">
        <input type="hidden" name="no_shipping" value="2">
        <input type="hidden" name="undefined_quantity" value="1">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
        <input id="sticker-suggest" class="sticker-order-suggest" name="Submit" type="submit" value="buying a high-quality vinyl Helm sticker.">
      </form>
      Your download should start, but if not, try the
      <a class="all-downloads-link" href="/helm/direct_downloads">downloads page</a>
    </div>
  </div>
</div>
