<div id="payment-section">

  <div class="pay-amount-button amount-not-pressed">
    $100
  </div>
  <div class="pay-amount-button amount-not-pressed">
    $50
  </div>
  <div class="pay-amount-button amount-pressed">
    $25
  </div>
  <div class="pay-amount-button amount-not-pressed">
    $10
  </div>

  <form class="donation-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="matthewtytel@gmail.com">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="Helm Synth Download">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="cn" value="Add special instructions to the seller:">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="rm" value="1">
    <input class="return-link" type="hidden" name="return" value="https://tytel.org/helm/processed/">
    <div>
    <input id="donation-display" value="" placeholder='$5'>
    </div>
    <input id="contribute-button" type="submit" value="Buy" border="0" name="submit" alt="Helm Purchase">
    <a href="/helm/remind" class="remind">
      <div id="nopay-button" alt="Helm Remind">
        <p>Remind Me</p>
      </div>
    </a>
    <input type="hidden" id="donation-amount" name="amount" value="25">
  </form>
</div>
