<a href="/helm">
  <img id="helm-logo" src="/static/images/helm_logo.png">
</a>

<div class="big-header">
  <div class="tagline">
    <div id="nothanks" class="catch-phrase">
      Here's a full version of Helm
    </div>
  </div>
  <div id="downloads">
    <div id="auto-download-info">
      <a href="https://twitter.com/matttytel?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size=large data-show-count="false">Follow @matttytel</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></br>
      Hope you love it! Your download should start, but if not, try the
      <a class="all-downloads-link" href="/helm/direct_downloads">downloads page</a>
    </div>
  </div>
</div>
