---
layout: helm
permalink: /helm/downloads/
---

<a href="/helm">
  <img id="helm-logo" src="/static/images/helm_logo.png">
</a>

<div class="big-header">
  <div id="downloads" class="download-list">
    {% include download_list.html %}
  </div>

  <div class="tagline" style="visibility:hidden;">
    <h2 id="product-name" class="product-name">Helm</h2>
    <div id="catch-phrase" class="catch-phrase">
      Steer your sound
    </div>
  </div>

  {% include pity_section.html %}

  {% include slider_section.html %}

</div>

<script src="/static/js/helm_donation_slider.js" type="text/javascript"></script>
